<script src="/book/assets/javascripts/offcanvas.js"></script>
{% comment %}Order matters: account.js first (others use window.BuildHereAccount); notebook.js before share.js, which shows its "Noter" button only if window.buildHereRate exists.{% endcomment %}
<script src="/book/assets/javascripts/account.js"></script>
<script src="/book/assets/javascripts/notebook.js"></script>
<script src="/book/assets/javascripts/share.js"></script>
<script src="/book/assets/javascripts/reading.js"></script>
<script src="/book/assets/javascripts/try.js"></script>
<script src="/book/assets/javascripts/note.js"></script>
