{% include langue.html %}<!doctype html>
<html lang="{{ lang }}">
  <head>
    {% include head.html %}

    <!-- Analytics -->
    {% include ga.html %}
  </head>
  <body>
    <!-- Header -->
    {% include header.html %}

    <!-- Offcanvas Menu -->
    {% include nav.html %}

    <!-- Overlay -->
    <div class="overlay" id="overlay" data-bascule-menu></div>

    <!-- La bande d'entree -->
    {% include bande.html etroite=true %}

    <!-- Content -->
    <main class="content{% if page.avertissement %} avertissement{% endif %}">
      <div class="container">{{content}}</div>
    </main>

    {% include reprise.html %}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Foot -->
    {% include foot.html %}
  </body>
</html>
